 body {
    font-family:sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #0588f3;
    background: url("https://th.bing.com/th?id=OIP.DdS7Ny7RWf15htav8kRuBAHaFj&w=288&h=216&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .fruit-app {
    
    padding: 20px;  
    width: 400px;
    margin-top:3px; 
    color:rgb(255, 0, 0);
    background-color: aquamarine;




  }
  
  h1 {

    
  color: #b7c912; 
  background-image: radial-gradient(circle, #b7c912 14%, #970ac1 30%, #16c447 54%, #c6cdfe 4%); 
  background-clip: text; 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
 
    font-size:45px;
    text-align: center;
    margin-bottom: 10px;
    color:rgb(255, 51, 0);
  }

  h2{
    font-size: 25px;
    text-align: center;
  }
  
  input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  button {
    width: 25%;
    background-color:rgb(49, 3, 156);
    color:rgb(227, 239, 252);
    border:none;
    outline:none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 140px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    
  }
  
  button:hover {
    background-color:chartreuse;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  li button {
    background-color:rgb(23, 8, 230);
    margin-left:80px;
    font-size: 14px;
    padding: 3px 8px;
    cursor: pointer;
  }
  
  li button:hover {
    background-color:rgb(238, 255, 80);
  }